# CMake build directory
build/

# Compiled object files
*.o
*.obj

# Compiled binary executables
*.exe
*.out

# Temporary files
*~

# Log files
*.log

# Other IDE or OS specific files
.DS_Store
Thumbs.db
